@use "./colors.scss";
@use "./minireset.scss";

header {
    width: 100%;
    height: 7rem;
    background-color: colors.$light-purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.welcome {
    background-color: colors.$dark-brown;
    list-style: none;
    display: inline;
    color: colors.$light-beige;
    padding: .7em;
    border-radius: .6em;
    font-family: sans-serif;
    font-size: 1.5rem;
    letter-spacing: .2ch;
}

.number-input {
    width: 70%;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr auto 1fr 1.5fr;
    align-items: center;
    gap: 1.5em;
}

input, .math-operator, button[type="submit"] {
    border: 1px solid colors.$light-grey;
    border-radius: 2em;
    padding: .8em;
    box-shadow: 0 .35em .85em .1em rgba(0, 0, 0, 0.24);
    font-size: 1.5rem;

    &:focus {
        outline: none;
        box-shadow: 0 .35em .85em .1em rgba(0, 0, 0, 0.24),
        0 0 5em 0 colors.$light-blue;
        opacity: .8;
    }
}

button[type="submit"] {
    background-color: colors.$darker-blue;
    color: colors.$light-grey;
}

.math-operator {
    /*line-height: 0;*/
    height: 100%;
    font-weight: bold;
    border-radius: 1em;
    background-color: colors.$light-blue;
}

.webpack-image {
    width: 100%;
}

@mixin message-div($color) {
    text-align: center;
    padding: 1em;
    font-size: 2.3rem;
    background-color: $color;
}

.error {
    @include message-div(colors.$danger-red);
}

.result {
    @include message-div(colors.$light-blue);
}